---
import { TaxonomiesKind } from "../types";
import FormattedDate from "./FormattedDate.svelte";
import Taxonomies from "./Taxonomies.svelte";

const { post } = Astro.props;
---

<div class="mb-6">
  <FormattedDate date={post.data.date} />
  <a href={`/blog/${post.slug}/`}>
    <div class="text-lg text-sky-300 font-semibold">{post.data.title}</div>
  </a>
  <Taxonomies
    taxonomies={post.data.categories}
    kind={TaxonomiesKind.Category}
  />
  <Taxonomies taxonomies={post.data.tags} kind={TaxonomiesKind.Tag} />
</div>
