---
import { TaxonomiesKind } from "../types";
import FormattedDate from "./FormattedDate/index.svelte";
import Taxonomies from "./Taxonomies/index.svelte";

const { post } = Astro.props;
---
<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 256px;
    background-color: #1E293B;
    padding: 24px;
    margin: 0 auto;
    border-radius: 8px;
  }

  .title {
    font-size: 1.05rem;
    color: #7DD3FC;
    font-weight: 600;
  }
</style>
<div
  class="wrapper"
>
  <FormattedDate date={post.data.date} />
  <a href={`/blog/${post.slug}/`}>
    <div class="title">{post.data.title}</div>
  </a>
  <div>
    <Taxonomies
      taxonomies={post.data.categories}
      kind={TaxonomiesKind.Category}
    />
    <Taxonomies taxonomies={post.data.tags} kind={TaxonomiesKind.Tag} />
  </div>
</div>
