---
import FormattedDate from "./FormattedDate.svelte";

const { post } = Astro.props;
---

<div class="mb-6">
  <FormattedDate date={post.data.date} />
  <a href={`/blog/${post.slug}/`}>
    <div class="text-lg text-sky-300 font-semibold">{post.data.title}</div>
  </a>
  <div class="flex flex-wrap space-x-2">
    {post.data.categories.map((c) => <span>/{c}</span>)}
  </div>
  <div class="flex flex-wrap space-x-2">
    {post.data.tags.map((t) => <span>#{t}</span>)}
  </div>
</div>
