---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate/index.svelte";
import NonIndexLayout from "./NonIndexLayout.astro";
import Taxonomies from "../components/Taxonomies/index.svelte";
import { TaxonomiesKind } from "../types";

type Props = CollectionEntry<"blog">["data"];

const { title, date, categories, tags, math } = Astro.props;
---

<head>
  <link rel="stylesheet" href="/app.css" />
</head>

<style>>
  .wrapper {
    margin-top: 48px;
  }

  .title {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .taxonomies {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
</style>

<NonIndexLayout title={`${title} | kyoheiu.dev`}>
  {
    math && (
      <>
        <script src="/mathjax-config.js" />
        <script
          type="text/javascript"
          async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
        />
      </>
    )
  }
    <div class="wrapper">
      <FormattedDate date={date} />
      <div class="title">{title}</div>
            <div class="taxonomies">
        <Taxonomies taxonomies={categories} kind={TaxonomiesKind.Category} />
        <Taxonomies taxonomies={tags} kind={TaxonomiesKind.Tag} />
      </div>
      <slot />
</NonIndexLayout>
